<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/Treetog-Junior-Document-excel.ico">
    <title>File Upload</title>
</head>
<body>
    <div class="container">
        <h1>Upload Files</h1>
        <div id="drop-area" class="drop-area">
            <p>Drag & Drop your files here</p>
            <input type="file" id="fileInput" multiple>
        </div>
        <div class="mode-selection">
            <label><input type="radio" name="process_type" value="adaos" checked> Adaos</label>
            <label><input type="radio" name="process_type" value="sgr"> SGR</label>
            <label><input type="radio" name="process_type" value="minus"> Minus</label>
            <label><input type="radio" name="process_type" value="extract"> Extract</label>
        </div>
        <button id="processBtn">Process</button>
        <!-- <button id="toggle-theme">Toggle Theme</button> -->
    </div>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>